body {
  font-family: sans-serif;
}
.button {
  display: inline-block;
  height: 2em;
  width: 10em;
  background-color: #4285F4;
  text-align: center;
  line-height: 2em;
  color: white;
  text-decoration: none;
  border-radius: 0.2em;

}
button {
  background-color: #C642F4;
  font-size: 1em;
  border: none;
}
.button-sm {
  height: 3em;
  font-size: 0.6em;
  background-color: #F44242;
  line-height: 3em;
}
.button-md {
  height: 3em;
  line-height: 3em;
  font-size: 0.9em;
  background-color: #42F498;
}
.button-lg {
  height: 3em;
  line-height: 3em;
  font-size: 1.1em;
}
.button:hover {
    background-color: #5A94F5;
    box-shadow: 0 0.75em 1em 0 rgba(0,0,0,0.24), 0 1.063em 3.125em 0 rgba(0,0,0,0.19);
}
.button-sm:hover {
  background-color: #F55A5A;
}
.button-md:hover {
  background-color: #5AF5A5;
}
.button:active {
  background-color: #3A74D6;
}
.button-sm:active {
  background-color: #D63A3A;
}
.button-md:active {
  background-color: #3AD685;
}
